#chatting-screen {
    background-color: #abc1d1;
    height: 1000vh;
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.chatting {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s linear;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 15px;
}

.message__user {
    margin-bottom: 5px;
    display: block;
}

@keyframes fadeinMassageContent_other {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadeinMassageContent_me {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message__contents {
    display: flex;
    align-items: flex-end;
}

.message-row--other .message__contents {
    animation: fadeinMassageContent_other 0.5s linear;
}

.message-row--me .message__contents {
    animation: fadeinMassageContent_me 0.5s linear;
}

.message__contents__text {
    background-color: white;
    padding: 11px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 7px;
    font-size: 18px;
}

.message__contents__time,
.message__user {
    opacity: 0.8;
    font-size: 14px;
}

.message-row--me {
    justify-content: flex-end;
}

.message-row--me .message__contents__text {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 7px;
}

.message-row--me .message__contents {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.reply i {
    opacity: 0.5;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -18px;
    top: 3px;
}

.reply__column:last-child > i {
    right: 40px;
    top: 10px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 95vw;
    transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}
