.more-screen .icon-raw {
    margin-top: 25px;
}

.more-suggestions {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    row-gap: 50px;
    column-gap: 34px;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.more-suggestions__icon-image {
    margin-bottom: 10px;
}

.more-suggestions__icon-text {
    opacity: 0.6;
}

.more-suggestions__icon-image img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.more-suggestions__icon-image i {
    font-size: 32px;
    color: white;
}
