.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-margin {
    margin-bottom: 120px;
}

.settings__setting i {
    font-size: 22px;
    opacity: 0.8;
}

.settings__setting-column {
    display: flex;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings__setting-column__icon {
    width: 40px;
    margin-right: 10px;
}
