.icon-raw {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.icon-raw__icon i {
    font-size: 35px;
}

.icon-raw__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-raw__icon span {
    margin-top: 20px;
}

.icon-raw__more {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 40px;
    margin: 20px 0px;
    padding: 20px 0px;
    opacity: 0.8;
}

.icon-raw__more i {
    font-size: 35px;
}

.icon-raw__more-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-raw__more-icon span {
    margin-top: 10px;
}

.icon-raw__more-icon__talkdrive {
    position: relative;
}
