.alert {
    background-color: tomato;
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* Find창과 More창 우측 상단의 톱니바퀴 아이콘 위에 알람 표시 */
.alert-cog {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    bottom: 20px;
}

.alert-more {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -15px;
}

.alert-more__Talk-Drive {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -18px;
}
